{% load templatetags %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="/site_media/css/screen.css" />
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <!--[if IE]> 
    <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen, projection" />
  <![endif]-->
</head>
<body>
  <div class="container">
    <div class="header">
      {% if user.is_authenticated %}
      Hello {{ user.username }}! Not {{user.username}}? Click <a href="/accounts/logout">here</a> to logout.
      {% endif %}
    </div>
    <ul class="navigation">
      {% block navigation%}
        <li><a href="/">index</a></li>
        {% if user.is_superuser %}
        <li><a href="/admin/">admin</a></li>
        {% endif %}
        {% if not user.is_authenticated %}
        <li><a href="/accounts/login/">login</a></li>
        {% else %}
        <li><a href="/accounts/profile/">profile</a></li>
        <li><a href="/accounts/logout/">logout</a></li>
        {% endif %}
      {% endblock %}
    </ul>
    <h1>{% block h1 %}{% endblock %}</h1>
    <div class="content">{% block content %}{% endblock %}</div>
    <div class="footer">
      {% copyright_tag "2005" %} <a href="http://davidwparker.com">david parker</a>
    </div>
  </div>
</body>
</html>
